.text{
  font-size: 25;
  font-family: Colfax-Light;
  font-weight: regular;
  text-length: 100;
}

#status {
  font-size: 25;
  font-family: Colfax-Light;
  font-weight: regular;
  text-length: 100;
  text-anchor: middle;
  x:50%;
}

#issPosition{
  font-size: 25;
  font-family: Colfax-Light;
  font-weight: regular;
  text-length: 100;
  text-anchor: middle;
  x:50%;
}

#issTime{
  font-size: 20;
  font-family: Colfax-Light;
  font-weight: regular;
  text-length: 100;
}

#issLocation{
  font-size: 20;
  font-family: Colfax-Light;
  font-weight: regular;
  text-length: 100;
}